
.carousel-caption {
  font-size: 2em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
}


.carousel-caption h2 {
  margin-top: 20px;
}

.carousel-item img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}

.navbar-brand {
  margin-right: auto;
}

.navbar-nav {
  margin-left: auto;
}

.card{
  height: 500px;
}

.card-info {
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 4em;
  display: flex;
  padding-top: 1em;
}

.card-info img {
  width: 100%;
  margin: 0 auto;
}


.table{
  background-color: #121212 !important;
}



@media (min-width: 570px) {
  .card-info img {
    width: 300px;
    height: 300px;
    
  }
}
